header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: grey;
}
.title {
  margin-left: 8px;
}
#translate-body {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.translate-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  min-width: 300px;
  min-height: 40vh;
  background-color: lightgrey;
  margin-bottom: 20px;
} 

.text-form {
  height: 350px;
  width: 260px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 15px;
  align-items: end;
  flex-direction: column;
  display: flex;
  overflow-y: scroll;
  background-color: white;
  scroll-behavior: smooth;
}

.textbox-1 {
  padding: 5px;
  background-color: blue;
  color: white;
  font-weight: 400;
  font-size: 20px;
  flex-wrap: wrap;
  max-width: 210px;
  border-radius: 8px;
}

.answer-box {
  display: flex;
  flex-direction: row;
  width: 240px;
  border: 1px solid black;
  border-radius: 8px;
  min-height: 50px;
  padding: 1px;
  background-color: white;
}


input:focus {
  outline: none;
}


form:focus-within { 
  outline: 1px solid blue 
}

.send-message {
  background-color: greenyellow;
  border-radius: 8px;
  height: 30px;
  align-self: center;
}
.answer-entry {
  border: none;
  flex-grow: 1.8;
}

#translation-text {
  width: 200px;
  height: 100px;
}

.lang-choice {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: center;
  margin-bottom: 10px;
}
.japan {
  border: 1px solid black;
}

.translate-btn {
  padding: 8px;
  color: black;
  background-color: #2e5894;
  font-size: medium;
  font-weight: 400;
  border-radius: 8px;
  width: 150px;
  margin: 20px 0;
}