header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: grey;
}
.title {
  margin-left: 8px;
}
#translate-body {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.translate-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  min-width: 50%;
  min-height: 40vh;
} 

#translation-text {
  width: 200px;
  height: 100px;
}

.lang-choice {
  display: flex;
  flex-direction: column;
}

.translate-btn {
  padding: 8px;
  color: black;
  background-color: #2e5894;
  font-size: medium;
  font-weight: 400;
  border-radius: 8px;
  width: 150px;
  margin: 20px 0;
}